<% if @answer.errors.present? %>
     <% @answer.errors.full_messages.each do |message|  %>
    document.querySelector(".answer-errors").innerHTML = "<div><%= j message %></div>";
    <% end %>
<% else %>
   var tabl = document.querySelector('.answers_table');
   var current_row = document.querySelector(".answer_row_<%= @answer_id.to_s %>");
   current_row.remove();
 <% end %>
 
 //console.log("<%= params['id'] %>")